openapi: 3.1.0
info:
  title: DERforyou API
  version: 1.0.0
  summary: Account and developer-domain API
  description: >-
    API for DERforyou. Browser sessions are managed by Better Auth and stored in
    D1. SDK-facing resource operations use individually revocable API keys in
    the standard Authorization: Bearer header. API keys are shown only once.
  contact:
    name: DERforyou Support
    email: hostmaster@der.my.id
servers:
  - url: https://der.my.id
    description: Production
  - url: http://localhost:5173
    description: Local development
tags:
  - name: Authentication
  - name: API keys
  - name: Domains
  - name: Account
paths:
  /api/auth/email-otp/send-verification-otp:
    post:
      operationId: sendEmailVerificationOtp
      summary: Send a sign-in code by email
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOtpRequest'
      responses:
        '200':
          description: The code was sent when the account is eligible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-in/email-otp:
    post:
      operationId: signInWithEmailOtp
      summary: Sign in or create an account using an email code
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInWithEmailOtpRequest'
      responses:
        '200':
          description: Authenticated user and session; Better Auth also sets the session cookie.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-in/social:
    post:
      operationId: signInWithSocialProvider
      summary: Start a social sign-in flow
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialSignInRequest'
      responses:
        '200':
          description: Provider authorization URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSignInResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/get-session:
    get:
      operationId: getBrowserSession
      summary: Get the current browser session
      tags: [Authentication]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: Current session, or null when signed out.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BrowserSession'
                  - type: 'null'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-out:
    post:
      operationId: signOut
      summary: Revoke the current browser session
      tags: [Authentication]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: Session revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me:
    get:
      operationId: getCurrentUser
      summary: Get the user associated with the API key
      tags: [Account]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current API-key owner.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/availability:
    get:
      operationId: checkDomainAvailability
      summary: Check whether a subdomain is already registered
      description: Checks DERforyou records only; it does not reserve a name or verify external DNS state.
      tags: [Domains]
      parameters:
        - name: subdomain
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 63
            pattern: '^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$'
        - name: zone
          in: query
          required: false
          description: Only der.my.id is supported.
          schema:
            type: string
            default: der.my.id
            enum: [der.my.id]
      responses:
        '200':
          description: Availability result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains:
    get:
      operationId: listOwnedDomains
      summary: List domains owned by the API-key owner
      tags: [Domains]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Domain collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/settings/contact:
    get:
      operationId: getContactDetails
      summary: Get the API-key owner's contact profile
      tags: [Account]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Contact profile, or null when none has been saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        default:
          $ref: '#/components/responses/Problem'
    put:
      operationId: updateContactDetails
      summary: Create or replace the API-key owner's contact profile
      tags: [Account]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInput'
      responses:
        '200':
          description: Saved contact profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys for the signed-in browser user
      description: The secret token is never returned by this operation.
      tags: [API keys]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: API key metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createApiKey
      summary: Create a Bearer API key for the signed-in browser user
      description: The plaintext token is returned once and cannot be retrieved later.
      tags: [API keys]
      security:
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: Created API key and its one-time secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKeyResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/api-keys/{keyId}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key owned by the signed-in browser user
      tags: [API keys]
      security:
        - betterAuthSession: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokedApiKeyResponse'
        default:
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: DERforyou API key
      description: Use the API key as Authorization: Bearer <token>. Keys are created through the authenticated browser session.
    betterAuthSession:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Better Auth session cookie for same-origin browser session operations.
  responses:
    Problem:
      description: RFC 9457 Problem Details error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      required: [type, title, status, detail]
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
      additionalProperties: true
    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    SendEmailOtpRequest:
      type: object
      required: [email, type]
      properties:
        email:
          type: string
          format: email
        type:
          type: string
          const: sign-in
    SignInWithEmailOtpRequest:
      type: object
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^[0-9]{6}$'
        name:
          type: string
          maxLength: 200
          description: Required for a new account; ignored for existing accounts.
        image:
          type: string
          format: uri
    SocialSignInRequest:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          enum: [github]
        callbackURL:
          type: string
          format: uri-reference
    SocialSignInResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        redirect:
          type: boolean
    User:
      type: object
      required: [id, name, email, emailVerified, createdAt, updatedAt]
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        emailVerified:
          type: boolean
        image:
          type: [string, 'null']
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Session:
      type: object
      required: [id, userId, expiresAt, token, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        expiresAt:
          type: string
          format: date-time
        token:
          type: string
          writeOnly: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        ipAddress:
          type: [string, 'null']
        userAgent:
          type: [string, 'null']
    SignInResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
          writeOnly: true
        user:
          $ref: '#/components/schemas/User'
    BrowserSession:
      type: object
      required: [session, user]
      properties:
        session:
          $ref: '#/components/schemas/Session'
        user:
          $ref: '#/components/schemas/User'
    UserResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, name, email]
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
    AvailabilityResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [available, subdomain, hostname, status]
          properties:
            available:
              type: boolean
            subdomain:
              type: string
            hostname:
              type: string
            status:
              type: string
              enum: [available, unavailable]
    DomainListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
    Domain:
      type: object
      required: [id, name, status, dnsSyncStatus, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [active, suspended]
        dnsSyncStatus:
          type: string
          enum: [not-configured, pending, synced, failed]
        createdAt:
          type: string
          format: date-time
    ContactInput:
      type: object
      required: [fullName, email]
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 200
        organization:
          type: [string, 'null']
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
        addressLine1:
          type: [string, 'null']
        addressLine2:
          type: [string, 'null']
        city:
          type: [string, 'null']
        stateProvince:
          type: [string, 'null']
        postalCode:
          type: [string, 'null']
        countryCode:
          type: [string, 'null']
          pattern: '^[A-Za-z]{2}$'
    ContactInfo:
      allOf:
        - $ref: '#/components/schemas/ContactInput'
        - type: object
          required: [fullName, email]
    ContactResponse:
      type: object
      required: [data]
      properties:
        data:
          oneOf:
            - $ref: '#/components/schemas/ContactInfo'
            - type: 'null'
    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        expiresAt:
          type: [string, 'null']
          format: date-time
          description: Optional expiration time; must be in the future.
    ApiKey:
      type: object
      required: [id, name, prefix, createdAt, expiresAt, lastUsedAt, revokedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: [string, 'null']
          format: date-time
        lastUsedAt:
          type: [string, 'null']
          format: date-time
        revokedAt:
          type: [string, 'null']
          format: date-time
    ApiKeyListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
    CreatedApiKeyResponse:
      type: object
      required: [data]
      properties:
        data:
          allOf:
            - $ref: '#/components/schemas/ApiKey'
            - type: object
              required: [token]
              properties:
                token:
                  type: string
                  writeOnly: true
                  pattern: '^der_live_[a-f0-9]{64}$'
                  example: der_live_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
    RevokedApiKeyResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, revoked]
          properties:
            id:
              type: string
              format: uuid
            revoked:
              type: boolean
