openapi: 3.1.0
info:
  title: DERforyou API
  version: 1.0.0
  summary: Account and developer-domain API
  description: >-
    API for DERforyou. Protected user operations accept either a Better Auth
    browser session cookie or an individually revocable API key in the standard
    Authorization: Bearer header. Both credentials authorize as their user;
    resource access is limited to that user's records, and moderation requires
    the configured administrator account. API keys are shown only once.
  contact:
    name: DERforyou Support
    email: hostmaster@der.my.id
servers:
  - url: https://der.my.id
    description: Production
  - url: http://localhost:5173
    description: Local development
tags:
  - name: Authentication
  - name: API keys
  - name: Domains
  - name: Account
paths:
  /api/auth/email-otp/send-verification-otp:
    post:
      operationId: sendEmailVerificationOtp
      summary: Send a sign-in code by email
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOtpRequest'
      responses:
        '200':
          description: The code was sent when the account is eligible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-in/email-otp:
    post:
      operationId: signInWithEmailOtp
      summary: Sign in or create an account using an email code
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInWithEmailOtpRequest'
      responses:
        '200':
          description: Authenticated user and session; Better Auth also sets the session cookie.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-in/social:
    post:
      operationId: signInWithSocialProvider
      summary: Start a social sign-in flow
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialSignInRequest'
      responses:
        '200':
          description: Provider authorization URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSignInResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/get-session:
    get:
      operationId: getBrowserSession
      summary: Get the current browser session
      tags: [Authentication]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: Current session, or null when signed out.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BrowserSession'
                  - type: 'null'
        default:
          $ref: '#/components/responses/Problem'
  /api/auth/sign-out:
    post:
      operationId: signOut
      summary: Revoke the current browser session
      tags: [Authentication]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: Session revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me:
    get:
      operationId: getCurrentUser
      summary: Get the authenticated user
      tags: [Account]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: Current authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/availability:
    get:
      operationId: checkDomainAvailability
      summary: Check whether a subdomain is already registered
      description: Checks DERforyou records only; it does not reserve a name or verify external DNS state.
      tags: [Domains]
      security: []
      parameters:
        - name: subdomain
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 63
            pattern: '^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$'
        - name: zone
          in: query
          required: false
          description: Only der.my.id is supported.
          schema:
            type: string
            default: der.my.id
            enum: [der.my.id]
      responses:
        '200':
          description: Availability result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains:
    get:
      operationId: listOwnedDomains
      summary: List domains owned by the authenticated user
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: Domain collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: requestDomainRegistration
      summary: Request a subdomain registration
      description: Creates a pending registration request for the authenticated user.
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRegistrationRequest'
      responses:
        '200':
          description: Pending registration request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrationResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/{domainId}:
    parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getDomain
      summary: Get an owned domain
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: Domain details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateDomainDnsMode
      summary: Update an owned domain's DNS mode
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDnsModeRequest'
      responses:
        '200':
          description: DNS mode updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDnsModeResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/{domainId}/dns-records:
    parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: listDomainDnsRecords
      summary: List DNS records for an owned domain
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: DNS records, or an empty disabled result when custom nameservers are active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordListResponse'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createDomainDnsRecord
      summary: Create a DNS record for an owned domain
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRecordInput'
      responses:
        '201':
          description: DNS record created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/{domainId}/dns-records/{recordId}:
    parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: recordId
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getDomainDnsRecord
      summary: Get an owned domain DNS record
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: DNS record details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        default:
          $ref: '#/components/responses/Problem'
    put:
      operationId: updateDomainDnsRecord
      summary: Replace a DNS record for an owned domain
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRecordInput'
      responses:
        '200':
          description: DNS record updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteDomainDnsRecord
      summary: Delete a DNS record for an owned domain
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: DNS record deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedDnsRecordResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/domains/moderation:
    get:
      operationId: listModerationQueue
      summary: List pending registrations and active domains
      description: Requires an authenticated administrator account.
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: Moderation queue and active domains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationQueueResponse'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: moderateDomainRegistration
      summary: Approve, reject, suspend, unsuspend, or delete a domain record
      description: Requires an authenticated administrator account.
      tags: [Domains]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationActionRequest'
      responses:
        '200':
          description: Moderation action completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationActionResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/settings/contact:
    get:
      operationId: getContactDetails
      summary: Get the authenticated user's contact profile
      tags: [Account]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      responses:
        '200':
          description: Contact profile, or null when none has been saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        default:
          $ref: '#/components/responses/Problem'
    put:
      operationId: updateContactDetails
      summary: Create or replace the authenticated user's contact profile
      tags: [Account]
      security:
        - bearerAuth: []
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInput'
      responses:
        '200':
          description: Saved contact profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys for the signed-in browser user
      description: The secret token is never returned by this operation.
      tags: [API keys]
      security:
        - betterAuthSession: []
      responses:
        '200':
          description: API key metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createApiKey
      summary: Create a Bearer API key for the signed-in browser user
      description: The plaintext token is returned once and cannot be retrieved later.
      tags: [API keys]
      security:
        - betterAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: Created API key and its one-time secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKeyResponse'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/api-keys/{keyId}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key owned by the signed-in browser user
      tags: [API keys]
      security:
        - betterAuthSession: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokedApiKeyResponse'
        default:
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: DERforyou API key
      description: 'Use Authorization: Bearer <token>. API keys are created through the authenticated browser session and shown only once.'
    betterAuthSession:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Better Auth session cookie for same-origin browser session operations.
  responses:
    Problem:
      description: RFC 9457 Problem Details error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      required: [type, title, status, detail]
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
      additionalProperties: true
    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    SendEmailOtpRequest:
      type: object
      required: [email, type]
      properties:
        email:
          type: string
          format: email
        type:
          type: string
          const: sign-in
    SignInWithEmailOtpRequest:
      type: object
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^[0-9]{6}$'
        name:
          type: string
          maxLength: 200
          description: Required for a new account; ignored for existing accounts.
        image:
          type: string
          format: uri
    SocialSignInRequest:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          enum: [github]
        callbackURL:
          type: string
          format: uri-reference
    SocialSignInResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        redirect:
          type: boolean
    User:
      type: object
      required: [id, name, email, emailVerified, createdAt, updatedAt]
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        emailVerified:
          type: boolean
        image:
          type: [string, 'null']
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Session:
      type: object
      required: [id, userId, expiresAt, token, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        expiresAt:
          type: string
          format: date-time
        token:
          type: string
          writeOnly: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        ipAddress:
          type: [string, 'null']
        userAgent:
          type: [string, 'null']
    SignInResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
          writeOnly: true
        user:
          $ref: '#/components/schemas/User'
    BrowserSession:
      type: object
      required: [session, user]
      properties:
        session:
          $ref: '#/components/schemas/Session'
        user:
          $ref: '#/components/schemas/User'
    UserResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, name, email]
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
    AvailabilityResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [available, subdomain, hostname, status]
          properties:
            available:
              type: boolean
            subdomain:
              type: string
            hostname:
              type: string
            status:
              type: string
              enum: [available, unavailable]
    Domain:
      type: object
      required: [id, hostname, status, dnsMode, dnsSyncStatus, createdAt]
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        status:
          type: string
          enum: [active, suspended]
        dnsMode:
          type: string
          enum: [managed, custom]
        customNameservers:
          type: [string, 'null']
        dnsSyncStatus:
          type: string
          enum: [not-configured, pending, synced, failed]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: true
    CreateDomainRegistrationRequest:
      type: object
      required: [subdomain]
      properties:
        subdomain:
          type: string
          minLength: 1
          maxLength: 63
        dnsMode:
          type: string
          enum: [managed, custom]
          default: managed
        customNameservers:
          oneOf:
            - type: array
              minItems: 2
              maxItems: 5
              items:
                type: string
            - type: string
          description: Required as 2 to 5 unique hostnames when dnsMode is custom.
        notes:
          type: string
      additionalProperties: false
    DomainRegistrationResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, subdomain, hostname, status, dnsMode, createdAt]
          properties:
            id:
              type: string
              format: uuid
            subdomain:
              type: string
            hostname:
              type: string
            status:
              type: string
              const: pending
            dnsMode:
              type: string
              enum: [managed, custom]
            customNameservers:
              type: [string, 'null']
            notes:
              type: [string, 'null']
            createdAt:
              type: string
              format: date-time
    DomainListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [domains, registrations]
          properties:
            domains:
              type: array
              items:
                $ref: '#/components/schemas/Domain'
            registrations:
              type: array
              items:
                $ref: '#/components/schemas/DomainRegistration'
    DomainRegistration:
      type: object
      required: [id, hostname, status, dnsMode, createdAt]
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        dnsMode:
          type: string
          enum: [managed, custom]
        customNameservers:
          type: [string, 'null']
        notes:
          type: [string, 'null']
        rejectedReason:
          type: [string, 'null']
        decisionAt:
          type: [string, 'null']
          format: date-time
        createdAt:
          type: string
          format: date-time
    DomainResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [domain]
          properties:
            domain:
              allOf:
                - $ref: '#/components/schemas/Domain'
                - type: object
                  properties:
                    customNameservers:
                      type: array
                      items:
                        type: string
    UpdateDnsModeRequest:
      type: object
      required: [dnsMode]
      properties:
        dnsMode:
          type: string
          enum: [managed, custom]
        customNameservers:
          oneOf:
            - type: array
              minItems: 2
              maxItems: 5
              items:
                type: string
            - type: string
          description: Required as 2 to 5 unique hostnames when dnsMode is custom.
    UpdateDnsModeResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [dnsMode, customNameservers]
          properties:
            dnsMode:
              type: string
              enum: [managed, custom]
            customNameservers:
              type: array
              items:
                type: string
    DnsRecordInput:
      type: object
      required: [type, name, content]
      properties:
        type:
          type: string
          enum: [A, AAAA, CAA, CERT, CNAME, DNSKEY, DS, HTTPS, LOC, MX, NAPTR, NS, OPENPGPKEY, PTR, SMIMEA, SRV, SSHFP, SVCB, TLSA, TXT, URI]
        name:
          type: string
        content:
          type: string
        data:
          type: object
          additionalProperties: true
        ttl:
          type: integer
          minimum: 1
          maximum: 86400
          default: 1
        proxied:
          type: boolean
          default: false
        priority:
          type: integer
        comment:
          type: [string, 'null']
        tags:
          type: array
          items:
            type: string
        settings:
          type: object
          additionalProperties: true
    DnsRecord:
      type: object
      required: [id, type, name, content, ttl, proxied, priority, data, comment, tags, settings]
      properties:
        id:
          type: string
        type:
          type: string
        name:
          type: string
        content:
          type: string
        ttl:
          type: integer
        proxied:
          type: boolean
        priority:
          type: [integer, 'null']
        data:
          type: [object, 'null']
          additionalProperties: true
        comment:
          type: [string, 'null']
        tags:
          type: array
          items:
            type: string
        settings:
          type: object
          additionalProperties: true
    DnsRecordResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/DnsRecord'
    DnsRecordListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [records]
          properties:
            records:
              type: array
              items:
                $ref: '#/components/schemas/DnsRecord'
            disabled:
              type: boolean
    DeletedDnsRecordResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, deleted]
          properties:
            id:
              type: string
            deleted:
              type: boolean
    ModerationQueueResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [pendingRequests, activeDomains]
          properties:
            pendingRequests:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/DomainRegistration'
                  - type: object
                    properties:
                      userId:
                        type: string
                      userName:
                        type: [string, 'null']
                      userEmail:
                        type: [string, 'null']
            activeDomains:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Domain'
                  - type: object
                    properties:
                      ownerId:
                        type: string
                      userName:
                        type: [string, 'null']
                      userEmail:
                        type: [string, 'null']
    ModerationActionRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [approve, reject, suspend, unsuspend, delete]
        registrationId:
          type: string
          format: uuid
        domainId:
          type: string
          format: uuid
        reason:
          type: string
    ModerationActionResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          additionalProperties: true
    ContactInput:
      type: object
      required: [fullName, email]
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 200
        organization:
          type: [string, 'null']
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
        addressLine1:
          type: [string, 'null']
        addressLine2:
          type: [string, 'null']
        city:
          type: [string, 'null']
        stateProvince:
          type: [string, 'null']
        postalCode:
          type: [string, 'null']
        countryCode:
          type: [string, 'null']
          pattern: '^[A-Za-z]{2}$'
    ContactInfo:
      $ref: '#/components/schemas/ContactInput'
    ContactResponse:
      type: object
      required: [data]
      properties:
        data:
          oneOf:
            - $ref: '#/components/schemas/ContactInfo'
            - type: 'null'
    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        expiresAt:
          type: [string, 'null']
          format: date-time
          description: Optional expiration time; must be in the future.
    ApiKey:
      type: object
      required: [id, name, prefix, createdAt, expiresAt, lastUsedAt, revokedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: [string, 'null']
          format: date-time
        lastUsedAt:
          type: [string, 'null']
          format: date-time
        revokedAt:
          type: [string, 'null']
          format: date-time
    ApiKeyListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
    CreatedApiKeyResponse:
      type: object
      required: [data]
      properties:
        data:
          allOf:
            - $ref: '#/components/schemas/ApiKey'
            - type: object
              required: [token]
              properties:
                token:
                  type: string
                  writeOnly: true
                  pattern: '^der_live_[a-f0-9]{64}$'
                  example: der_live_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
    RevokedApiKeyResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, revoked]
          properties:
            id:
              type: string
              format: uuid
            revoked:
              type: boolean
