openapi: 3.1.0
info:
  title: DER Platform API
  version: 1.0.0
  description: API contract for DER account, authentication, domain, and DNS flows.
servers:
  - url: https://der.my.id
    description: Production
  - url: http://localhost:5173
    description: Local development
paths:
  /api/auth/signin/email-otp:
    post:
      summary: Start passwordless email sign-in
      operationId: startEmailOtpSignIn
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: One-time code sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /api/auth/signin/email-otp/verify:
    post:
      summary: Verify passwordless email code
      operationId: verifyEmailOtpSignIn
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
  /api/auth/github:
    get:
      summary: Start GitHub OAuth sign-in
      operationId: beginGithubSignIn
      tags: [auth]
      responses:
        '302':
          description: Redirect to GitHub provider
  /api/domains/availability:
    get:
      summary: Check domain availability
      operationId: checkDomainAvailability
      tags: [domains]
      parameters:
        - in: query
          name: subdomain
          required: true
          schema:
            type: string
        - in: query
          name: zone
          required: false
          schema:
            type: string
            default: der.my.id
      responses:
        '200':
          description: Availability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
  /api/domains:
    get:
      summary: List owned domains
      operationId: listOwnedDomains
      tags: [domains]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Domain collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
  /api/settings/contact:
    get:
      summary: Fetch account contact details
      operationId: getContactDetails
      tags: [settings]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfo'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: better-auth.session_token
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
    AuthSession:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        session:
          $ref: '#/components/schemas/Session'
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [user, moderator, admin, owner]
    Session:
      type: object
      properties:
        id:
          type: string
        expiresAt:
          type: string
          format: date-time
    AvailabilityResponse:
      type: object
      properties:
        available:
          type: boolean
        subdomain:
          type: string
        hostname:
          type: string
        status:
          type: string
    DomainListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
    Domain:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        dnsSyncStatus:
          type: string
    ContactInfo:
      type: object
      properties:
        fullName:
          type: string
        organization:
          type: string
        email:
          type: string
        phone:
          type: string
        addressLine1:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
